* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: large;
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
    /* Change the layout from two columns to one column */
    .container {
      display: flex;
      flex-direction: column;
    }
    
    /* Adjust margins and padding to optimize for smaller screens */
    .section {
      margin: 10px 0;
      padding: 10px;
    }
    
    /* Reduce font sizes for better legibility on smaller screens */
    h1 {
      font-size: 24px;
    }
    
    p {
      font-size: 16px;
    }
  }
  

body {
    margin: 0;
    background-color: transparent;
    transition: background-color 0.5s ease;
  }

html {
    /* background-color: white; */
    background-image: url(./assets/img/AdobeStock_269814969.jpeg);
    animation: bounce 200s ease-in-out alternate infinite;
}

@keyframes bounce{
    0% {
      background-position: top;
    }
   100% {
      background-position: left;
    }   
}

nav {
    margin: 10;
    padding: 10;
}

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
.custom-font {
    font-family: 'Sigmar', cursive;
  }

.navbar-nav > li > a {
    font-size: medium;
}

.gamers-gauntlet-logo {
    display: block;
    margin: auto;
  }
  
.bg-grey {
    background-color: rgb(128,128,128,.1);
}

.spacer {
    height: 1rem;
}

.spacer2 {
    height: 2rem;
}

.spacer3 {
    height: 3rem;
}

.spacer4 {
    height: 2rem;
}

.spacer5 {
    height: 1rem;
}

.spacer6 {
    height: 2rem;
}
.page-header {
    height: 2rem;
}

.logo-div {
    width: fit-content;
}


h1 {
    height: fit-content;
    font-weight: 300;
}

.text-center.welcome {
    font-family: 'Sigmar', cursive;
    font-size: xx-large;
    text-align: center;
    color: white;
}

.gamers-gauntlet-logo {
    display: block;
    margin: auto;
  }

  .card-title {
    font-family: 'Sigmar', cursive;
    font-size: small;
    text-align: center;
  }

.home-buttons {
    display: flex;
    align-items: center;
}

.select-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 150px;
    margin: 10px;
}

.btn-exit {
    background-color: white;
    color: lightgray;
    border: 2px solid lightgray;
}

.btn-exit:hover {
    color: white;
}

.btn-blue {
    background-color: #011598;
    color: white;
}
button.text-center.btn.btn-blue {
    display: block;
    margin: auto;
    background-color: rgb(202, 71, 39);
    color: white;
}

button.text-center.btn.btn-black {
    display: block;
    margin: auto;
    background-color: black;
    color: white;
}

button.text-center.btn.text-home {
    display: block;
    margin: auto;
    background-color: black;
    color: white;
}


.btn-turq {
    background-color: #00d8ff;
    color: white;
}

.btn-green {
    background-color: #5fc85b;
    color: white;
}

.text-faded {
    color: gray;
    font-size: small;
}
/* 
.page-footer {
    position: relative;
    bottom: 0;
    height: 10rem; */
    /* background-color: rgb(125, 125, 125, 0.5); */
/* } */

/* ----------Tutorial--------------------------------------- */

.welcome {
    font-size: xx-large;
    color: gray;
}

.question {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(1,20,100,255);
    /* background-color: rgb(128,128,128, .1); */
    border-bottom: 1px solid;
}

.text-small {
    color: gray;
    font-size: large;
}

ul {
    list-style: none;
}

li {
    height: fit-content;
    min-height: 2rem;
    vertical-align: text-bottom;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
}

li:hover {
    background-color: rgb(128,128,128, .2);
}

li.correct {
    background-color: rgba(102,255,0,.9);
}

li.selected:not(correct) {
    background-color: rgba(255,50,0,.9);
}

.disabled {
    pointer-events: none;
}