#root{
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  background-image: url(../img/GG-Background.png);
}
  
.login{
  max-width: 350px;
  margin: 0 auto 20px;
  border-radius: 4px;
  background-color: #FFF;
  padding: 20px;
  box-sizing: border-box;
}